header {
  max-width: 1200px;
  padding: 40px 40px;
  margin: 0 auto;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu {
  padding: 10px 20px;
  display: grid;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 40px;
}

.menu a {
  background: #e7e7e7;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

a:hover {
  background: rgb(85, 80, 80);
  transition: 0.3s;
}
