.introdução {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 4rem;
  margin: 0 auto;
  gap: 3rem;
  align-items: center;
  padding: 40px 40px;
}

.introdução img {
  width: 300px;
}

.paragrafo h1 {
  font-size: 4.3rem;
  position: relative;
}

.introdução h1::before {
  content: "";
  display: block;
  position: absolute;
  width: 130px;
  height: 100px;
  background-image: url("../img/detalhe.svg");
  top: -30px;
  left: -30px;
  z-index: -1;
}
